<h1>Authors</h1>

<a href="/authors/new">Create New Author</a>

<% for (author of authors) { %>
    <div>
        <p>Name: <%= author.name %></p>
        <p>Bio: <%= author.bio %></p>
        <p>Gender: <%= author.gender %></p>
        <a href="/authors/<%= author._id %>">Show</a> | 
        <a onclick="return confirm('Are you sure?')" href="/authors/<%= author._id %>?_method=DELETE">Delete</a>
    </div>
    <hr />
<% } %>