<h1><%= book.title %></h1>
<h3><%= book.published %></h3>
<p>Author:
    <a href="/authors/<%= book.author._id %>"><%= book.author.name %></a>
</p>
<hr>
<a href="/books/<%= book._id %>/update">Edit Book Info</a> | 
<a href="/books">Back to Books</a>
